*,
*::after,
*::before {
  box-sizing: border-box;
}

.fixed-container {
  width: 1280px;
  min-height: 1282px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}


.logo {
  font-size: 80px;
  line-height: 94px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 61px;
  margin-bottom: 38px;
  color: #000;
}

.logo-color {
  color: #4BCAFF;
}

.nav-menu {
  background: #35444F;
  margin-bottom: 50px;
}

.nav-menu__items {
  width: 1238px;
  min-height: 72px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.nav-menu__items-list:first-child {
  margin-left: 60px;
}

.nav-menu__items-list {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  border-left: 1px solid #fff;
  padding-left: 35px;
  padding-right: 35px;
}

.nav-link {
  color: #fff;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
}



.sidebar-nav {
  width: 344px;
  min-height: 399px;
  display: flex;
}


.sidebar-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  flex-wrap: wrap;

}

.sidebar-nav__items-list {
  font-size: 27px;
  line-height: 27px;
  width: 296px;
  margin-left: 44px;

}

.sidebar-nav__items-list-link {
  color: #485863;
}


.main-img {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  width: 885px;
  min-height: 529px;
  position: relative;
}

.image {
  width: 320px;
  height: 381px;
  position: absolute;
  left: 297px;
  top: 75px;

}

.page-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 48px;
  width: 885px;
}


.page-content__text {
  margin-top: 19px;
  font-size: 18px;
  line-height: 24px;
}



.footer {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 36px;
}

.footer-menu__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 928px;
}


.footer-menu__items-list {
  padding-right: 25px;
}

.footer-menu__items-list-link {
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}


.copyright-text {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}