*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: #fff;
}

.title {
  color: #18B4CF;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.header__top {
  background: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.top__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link-img {
  width: 27px;
  height: 27px;
}

.title-text {
  padding-left: 27px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.logo__link {
  padding-left: 27px;
}

.menu__list {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
}

.menu__list-link {
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;
  border: 0;
  vertical-align: baseline;
}

.menu__list-item+.menu__list-item {
  padding-left: 35px;
}

.search__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 70px;
  background-color: #000;
}

.header__content {
  background-image: url(../images/header-background.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__content-title {
  width: 637px;
  height: 131px;
  padding-top: 164px;
  padding-bottom: 74px;
}

.content-title__text {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.header__content-button {
  width: 360px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 74px;

}

.button__item {
  width: 170px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__item-subscribe {
  background-color: #89CA62;

}

.button__item-articles {
  background-color: #14B9D5;
}

.button__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFF;
}

/* .posts {
  margin-top: 74px;
} */

.posts {
  background-color: #F2F2F2;
  padding-bottom: 72px;
}



.posts__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.posts__title-text {
  margin-top: 0;
  margin-bottom: 0;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  flex-wrap: wrap;
}

.posts__list-item {
  width: 370px;
  background-color: #FFF;
}


.posts__list-text {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding: 20px;
}

.posts__list-item-4 {
  margin-top: -90px;
}

.posts__list-item-5 {
  margin-top: 30px;
}

.posts__list-item-6 {
  margin-top: -65px;
}


.clients {
  background-image: url(../images/clients-background.jpg);
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__title {
  color: #FFF
}

.clients__decor-line {
  background-color: #18B4CF;
  width: 63px;
  height: 3px;
  margin-top: 85px;
  border: none;
}

.clients__brands-list {
  margin-top: 100px;
  width: 881px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 190px;
}

.rated {
  background: #E5E5E5;
}

.rated__title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.rated__list-item {
  display: grid;
  grid-template-columns: repeat(7, 271px);
  justify-content: center;
}

.rated__list-img {
  width: 271px;
  height: 190px;
  width: 1168px;
}

.news__inner {
  margin-left: 373px;
  margin-right: 361px;
  width: 1170px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1em;
}

}

.news__list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}

.news__list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}

.news__list-item {
  background-color: darkblue;
}

.item1 {
  grid-column: span 3;
}

.item3,
.item4,
.item5,
.item6 {
  grid-column: span 2;
}

.item2,
.item7 {
  grid-column: span 1;
}

.item8 {
  grid-column: span 3;
}




.footer {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;

}

.footer-inner {
  display: grid;
  grid-template-columns: 512px 105px;
  width: 1150px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer__copy {
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #FFF;
}

.footer__logo {
  display: grid;
  justify-items: start;
  grid-template-columns: 38px 64px;
  width: 105px;
  height: 24px;
}