*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
}

.nav-menu__containe {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  display: inline-block;
}

.nav-menu {
  margin-top: 32px;
  vertical-align: middle;
  margin-left: 330px;
}

li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}


.nav-menu a {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-right: 72px;
  letter-spacing: 3px;
  color: #FF0000;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}


.fix_indent {
  margin-left: -22px;
}

.main__conteiner {
  margin-left: auto;
  margin-right: auto;
}

.background-image {
  width: 1280px;
  min-height: 789px;
  margin: auto;
  padding: auto;
  margin-top: 18px;
}

.heading-text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.content-text {
  width: 1145px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 3px;
  color: #373737;
  margin: auto;
  padding: auto;
  margin-top: 48px;
  font-family: Montserrat, sans-serif;
  text-indent: 50px;
}

.text {
  margin-top: 38px;
}

.button-item {
  width: 191px;
  height: 51px;
  padding: 0px;
  margin: 0 auto;
  background: red;
  border-radius: 4px;
  border-color: red;
  margin-top: 36px;
}

.button-text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.Copyright {
  margin-top: 60px;
  padding: 29px 0;
  text-align: right;
}

.Copyright-text {
  margin-right: 205px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  letter-spacing: 2.4px;
}